<div id="my-books">
  <a href="https://www.kickstarter.com/projects/facilitatorcards/facilitator-cards?utm_source=IPM&utm_medium=sidebar&utm_campaign=Kickstarter" target="_blank" rel="noopener noreferrer" onClick="ga('send', 'event', { eventCategory: 'News', eventAction: 'View News', eventLabel: 'Sidebar Kickstarter'});">
    <img class="lazy-load ease-opacity-in" data-src="{{ .Site.BaseURL }}img/facilitator-cards-kickstarter.jpg" alt="Facilitator Cards by Sam Killermann & Meg Bolger on Kickstarter" />
    <p>
      I'm Kickstarting a new project called <strong>Facilitator Cards</strong>. It's a deck of 60 processing tools you can use to take everything I write about here into a workshop.</span>
    </p>
  </a>
  <a target="_blank" rel="noreferrer noopener" href="https://amzn.to/2li0YWS" title="A Guide to Gender on Amazon">
    <img class="lazy-load ease-opacity-in" data-src="{{ .Site.BaseURL }}img/book-cover-guide-to-gender-2nd-edition-by-sam-killermann.jpg" alt="A Guide to Gender Book Cover" />
    <p>
      If you like what I'm creating here, you'll love my book <strong>A Guide to Gender</strong><span>. It's just like this site, but made of paper.</span>
    </p>
  </a>
  <a target="_blank" rel="noreferrer noopener" href="https://amzn.to/2dDFVuJ" title="Unlocking the Magic of Facilitation on Amazon">
      <img class="lazy-load ease-opacity-in" data-src="{{ .Site.BaseURL }}img/book-cover-unlocking-the-magic-of-facilitation.jpg" alt="Unlocking the Magic of Facilitation Book Cover" />
      <p>
        I co-authored <strong>Unlocking the Magic of Facilitation</strong> with Meg Bolger <span>to help you teach everything you read here to others.</span>
      </p>
  </a>
  <a target="_blank" rel="noreferrer noopener" href="https://gum.co/defininglgbtq?wanted=true" title="Get the Defining LGBTQ+ E-Book">
    <img class="lazy-load ease-opacity-in" data-src="{{ .Site.BaseURL }}img/book-cover-defining-lgbtq-sam-killermann.jpg" alt="Defining LGBTQ+ Book Cover" />
    <p>
      I wrote <strong>Defining LGBTQ+</strong> to give you a head start on all the vocab<span>. It's only available as an e-book (for now).</span>
    </p>
  </a>
</div>