<style type="text/css">
  #poll-blm-action {
    margin: -4vw auto 3em;
    display: none;
  }

  #poll-blm-action-inner {
    padding: 1em;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 3px 20px rgba(0,0,0,.25);
  }

  #poll-blm-action p {
    margin: 0 0 .75em;
    padding: 0;
  }

  #poll-blm-action p a {
    text-decoration: none;
    border-bottom: .15em solid #ef9978;
    font-weight: 800;
  }

  #poll-blm-action p a:hover {
    color: #ef9978;
  }
  
  #poll-blm-action ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  #poll-blm-action .poll-option {
    padding: .4em .5em;
    font-size: .85em;
    margin: 0 auto .3em;
    display: block;
    text-decoration: none;		
    border-radius: 6px;
    border: 2px solid #dbdbdb;
  }

  #poll-blm-action .poll-option:hover {
    background: #dcffe0;
    border-color: #83e58d;
    cursor: pointer;
  }

  .poll-option.selected {
    background: #83e58d !important;
    border-color: #83e58d !important;
  }

  #poll-blm-action .poll-option.selected:before {
    content: '✅';
    margin-right: .5em;
  }


</style>
<div id="poll-blm-action">
  <div id="poll-blm-action-inner">
    <p>
      I have a quick question for you: I'd love to know <strong>which responses to police brutality do you support?</strong> (Select as many as you'd like)
    </p>
    <ul>
      <li class="poll-option" onclick="ga('send', 'event', { eventCategory: 'BLM Poll', eventAction: 'Vote', eventLabel: 'Education and anti-racism training for officers'}); addSelectedClass(this); hideBLMPoll();">Education and anti-racism training for officers</li>
      <li class="poll-option" onclick="ga('send', 'event', { eventCategory: 'BLM Poll', eventAction: 'Vote', eventLabel: 'Banning police use of chokeholds & strangleholds'}); addSelectedClass(this); hideBLMPoll();">Banning police use of chokeholds & strangleholds</li>
      <li class="poll-option" onclick="ga('send', 'event', { eventCategory: 'BLM Poll', eventAction: 'Vote', eventLabel: 'Require comprehensive reporting of any police violence'}); addSelectedClass(this); hideBLMPoll();">Require comprehensive reporting of any police violence</li>
      <li class="poll-option" onclick="ga('send', 'event', { eventCategory: 'BLM Poll', eventAction: 'Vote', eventLabel: 'Reducing the budgets of police departments'}); addSelectedClass(this); hideBLMPoll();">Reducing the budgets of police departments</li>
      <li class="poll-option" onclick="ga('send', 'event', { eventCategory: 'BLM Poll', eventAction: 'Vote', eventLabel: 'Abolishing the police entirely'}); addSelectedClass(this); hideBLMPoll();">Abolishing the police entirely</li>
      <li class="poll-option" onclick="ga('send', 'event', { eventCategory: 'BLM Poll', eventAction: 'Vote', eventLabel: 'I dont support any of these.'}); addSelectedClass(this); hideBLMPoll();">I don't support any of these</li>
    </ul>
  </div>
  
</div>
<script>

  var hasRespondedToBLMPoll = localStorage.getItem('hasRespondedToBLMPoll');

  if (hasRespondedToBLMPoll == null) {
    document.getElementById('poll-blm-action').style.display = "block";
  } else if (hasRespondedToBLMPoll !== "getouttahere") {
    document.getElementById('poll-blm-action').style.display = "block";
  }
  function addSelectedClass(elem) {
      var a = document.getElementsByClassName('poll-option')
    
      elem.classList.add('selected');
  }

  function hideBLMPoll() {
    localStorage.setItem("hasRespondedToBLMPoll", "getouttahere");
  }
  
</script>