<style type="text/css">
  #poll-anti-racism {
    margin: -4vw auto 3em;
    display: none;
  }

  #poll-anti-racism-inner {
    padding: 1em;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 3px 20px rgba(0,0,0,.25);
  }

  #poll-anti-racism p {
    margin: 0 0 .75em;
    padding: 0;
  }

  #poll-anti-racism p a {
    text-decoration: none;
    border-bottom: .15em solid #ef9978;
    font-weight: 800;
  }

  #poll-anti-racism p a:hover {
    color: #ef9978;
  }
  
  #poll-anti-racism ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  #poll-anti-racism .poll-option {
    padding: .4em .5em;
    font-size: .85em;
    margin: 0 auto .3em;
    display: block;
    text-decoration: none;		
    border-radius: 6px;
    border: 2px solid #dbdbdb;
  }

  #poll-anti-racism .poll-option:hover {
    background: #dcffe0;
    border-color: #83e58d;
    cursor: pointer;
  }

  .poll-option.selected {
    background: #83e58d !important;
    border-color: #83e58d !important;
  }

  #poll-anti-racism .poll-option.selected:before {
    content: '✅';
    margin-right: .5em;
  }


</style>
<div id="poll-anti-racism">
  <div id="poll-anti-racism-inner">
    <p>
      I have a quick question for you: Imagining your racial-justice-accomplished, ideal, utopian future society, <strong>which outcome do you most aspire toward?</strong> A society where one's...
    </p>
    <ul>
      <li class="poll-option" onclick="ga('send', 'event', { eventCategory: 'Antiracist Future Poll', eventAction: 'Vote', eventLabel: 'Race is entirely unimportant, a relic of the past.'}); hideReaderPoll();">Race is entirely unimportant, a relic of the past.</li>
      <li class="poll-option" onclick="ga('send', 'event', { eventCategory: 'Antiracist Future Poll', eventAction: 'Vote', eventLabel: 'Race is far less important than today, but still plays a role.'}); hideReaderPoll();">Race is far less important than today, but still plays a role.</li>
      <li class="poll-option" onclick="ga('send', 'event', { eventCategory: 'Antiracist Future Poll', eventAction: 'Vote', eventLabel: 'Race is roughly as important as it is today.'}); hideReaderPoll();">Race is roughly as important as it is today.</li>
      <li class="poll-option" onclick="ga('send', 'event', { eventCategory: 'Antiracist Future Poll', eventAction: 'Vote', eventLabel: 'Race is more important than it is today.'}); hideReaderPoll();">Race is more important than it is today.</li>
      <li class="poll-option" onclick="ga('send', 'event', { eventCategory: 'Antiracist Future Poll', eventAction: 'Vote', eventLabel: 'Race plays a central role in society.'}); hideReaderPoll();">Race plays a central, integral role in society.</li>
    </ul>
  </div>
  
</div>
<script>

  var hasRespondedToAntiRacismPoll = localStorage.getItem('hasRespondedToAntiRacismPoll');

  if (hasRespondedToAntiRacismPoll == null) {
    document.getElementById('poll-anti-racism').style.display = "block";
  } else if (hasRespondedToAntiRacismPoll !== "getouttahere") {
    document.getElementById('poll-anti-racism').style.display = "block";
  }

  // add addSelectedClass(this); to the buttons to enable multiple select
  function addSelectedClass(elem) {
      var a = document.getElementsByClassName('poll-option')
    
      elem.classList.add('selected');
  }

  function hideReaderPoll() {
    localStorage.setItem("hasRespondedToAntiRacismPoll", "getouttahere");
    document.getElementById('poll-anti-racism').style.display = "none";
  }
  
</script>