Subscribe: 
<a href="{{ .Site.Params.email_list_url }}" target="_blank" title="Facebook link" rel="noopener" aria-label="follow on Facebook——Opens in a new window">
	Mailing List
</a> 
<a href="/index.xml" title="RSS Feed" aria-label="IPM RSS Feed">
	RSS Feed
</a> 
<a href="https://facebook.com/metrosam" target="_blank" title="Facebook link" rel="noopener" aria-label="follow on Facebook——Opens in a new window">
	Facebook
</a> 
<a href="https://twitter.com/actuallymetro" target="_blank" title="Twitter link" rel="noopener" aria-label="follow on Twitter——Opens in a new window">
	Twitter
</a> 
<a href="/patronize/" title="Patronize">
	Patreon
</a> 