{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
<article>
	<header class="page-header tc">
		<h1 class="page-title alt-font">
			4😧4 Error
		</h1>
		<h2 class="tc em1 mt0 page-subtitle">Page Not Found</h2>
	</header>
	<section class="entry-content">
		<p>Let's get you where you were trying to go. Below are a bunch of tags that might help you find the thing you were looking for. You can also just <a href="/">go home</a> and start fresh.</p>
		<p>For what it's worth, <a href="/about/about-sam-killermann">I'm</a> sorry that you ended up here. It's certainly my fault, not yours. I got an alert that you landed here, and I'll be doing my best to prevent others from suffering the same fate. My sincerest apologies that you had to be the broken egg to make this omelet.</p>
		<h2>Does the thing you were looking for involve...</h2>
		<p style="font-size: 1.2em; line-height: 1.6;">
			{{ range $name, $taxonomy := .Site.Taxonomies.tags }}
				<a class="blob-link" href="/tags/{{ $name | urlize }}">{{ $name | humanize }}</a>, 
			{{ end }}
			<a style="opacity:.7;" class="blob-link" href="/tags/" title="View All Tags">view all &#10142;</a>
		</p>
	</section>
</article>
{{ end }}
