{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
<style type="text/css">

.bento {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2vw 3em;
  justify-content: center;
}

h2 {
  margin-bottom: 1rem;
}

.card {
  display: block;
  margin: 2vw;
  max-width: 400px;
  padding: 1.5em;
}

#DonateCheck .card {
  max-width: calc(800px + 4vw);
}

.card h3 {
  margin: 0 auto 1rem;
  color: rgba(10,10,10,.7);
}

.card h3 span {
  color: black;
}

.credit-cards {
  display:block;
  margin:5px auto 0;
  max-width: 200px;
}

.button {
  display: block;
  width: 100%;
  text-align: center;
}

@media only screen and (min-width 768px) {

}
</style>
<header class="page-header tc">
  <h1 class="page-title">
    {{ .Title }}
  </h1>
</header>
<div class="entry-content">
  <p>
    <strong>Thank you for considering a donation!</strong> To make it as easy as possible, I've got several options below, including <a href="#DonatePaypal" alt="Intro">Paypal / Credit Card</a>, <a href="#Patreon" alt="Patreon">Patreon</a>, and even <a href="#DonateCheck" alt="Check">check</a>. If you want to support the site, and there's something missing that you'd like me to add, please <a href="/contact/" title="contact">reach out</a>.
  </p>
  <p>
    Reader-funding is a new experiment as of 2018, and <a href="/2018/09/the-state-of-this-site-or-funding-online-work-in-2018-an-infographic/" title="The State of this Site (Or “Funding Online Work in 2018, an Infographic”)" target="_blank">I wrote all about it 6 months in</a> (disclosing numbers, and some other thoughts), in case you want to read about how it's going.
  </p>
  <p>
    <a href="https://www.itspronouncedmetrosexual.com/about/about-sam-killermann" title="About Sam Killermann" target="_blank"><svg id="heart-sK" alt="heart sK" style="width:90px;height:50px;"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 133.83 66.6"><defs><style>.cls-1,.cls-2{fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:5px;}.cls-1{stroke:#eb366e;}.cls-2{stroke:#000;}</style></defs><title>heart sK</title><path id="heart" class="cls-1" d="M22,36.39S20.5,26.67,11.64,23.5s-12.6,3.94-3,16.8S23.61,63.9,23.2,54.23,22.48,20.75,34.14,9.61C43.25.9,51.06,5.09,50.45,17.53c-.76,15.4-20.05,37.6-20.05,37.6"/><path id="sK" class="cls-2" d="M63,36.06a15.16,15.16,0,0,0-11-5.5C44,30.15,37.8,37,54.4,49.41s-19,22.07-11.93,4.84C46.05,45.53,58.78,34.86,64.77,24,71.94,11,74.91-2.56,73.24,5.35c-3.07,14.52-3.71,54.27-3.13,51.17,4.08-21.92,33.81-52.2,31-50.35S69.39,35.07,74.91,33.64,129,21.09,130.83,24.16"/></svg></a>
  </p>
</div>
<section id="DonatePaypal">

  <h2 class="tc">Paypal / Credit Card</h2>

  <div class="bento">
    <div class="card">
      <h3 class="alt-font">Make a <span>Monthly</span> Contribution</h3>
      <p>Whatever amount you want (even $1 helps), and you can use PayPal or any major credit card.</p>
      <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=R4PV49LVUMW3Y&source=url" class="button">Start Monthly Contribution</a>   
      <img src="/img/accepting-all-major-credit-cards.jpg" alt="Accepting all major credit cards" class="credit-cards"/>
    </div><!--/card-->
    <div class="card">
      <h3 class="alt-font">Make a <span>One-Time</span> Contribution</h3>
      <p>You'll be able to enter any amount you'd like, and you can use PayPal or any major credit card.</p>
      <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=YCLDWJNSFYWWW&source=url" class="button">Make One-Time Donation</a>
      <img src="/img/accepting-all-major-credit-cards.jpg" alt="Accepting all major credit cards" class="credit-cards"/>
    </div><!--/card-->
  </div><!--/bento-->
</section>

<section id="Patreon">
  <h2 class="tc">Patreon</h2>
  <div class="bento">
    <div class="card">
      <h3 class="alt-font">Become a <span>Patron of the Site</span></h3>
      <p>Make a monthly contribution at whatever level you choose.</p>
      <a href="https://patreon.com/join/itspronouncedmetrosexual" class="button">Become IPM's Patron</a>   
    </div><!--/card-->
    <div class="card">
      <h3 class="alt-font">Become a <span>Patron of the Author</span></h3>
      <p>Make a monthly contribution at whatever level you choose.</p>
      <a href="https://patreon.com/join/killermann" class="button">Become sK's Patron</a>   
    </div><!--/card-->
  </div>
</section>
<section id="DonateCheck">
  <h2 class="tc">Snailmail (Check or Other)</h2>
  <div class="bento">
    <div class="card">
      <h3 class="alt-font">Want to send something <span>in the mail?</span></h3>
      <p>I love mail! If you're sending a check, <strong>please make checks out to "hues"</strong> (IPM is part of the <a href="https://hues.xyz" title="hues: art, tools, and resources for global justice" rel="noopener noreferrer" target="_blank">hues global justice collective</a>). Here's my mailing address:</p>
      <p><big>
        It's Pronounced Metrosexual<br/>
        P.O. Box 684412<br/>
        Austin, TX 78768
      </big></p>
    </div><!--/card-->
  </div>
</section>
{{ end }}