/* Smaller screens */
@media (min-width: 768px) {

    .grid {
        display: grid;
        grid-template-columns: [center] 4fr [right-col] 1fr;

        .g-center {
            grid-column: center;
        }

        .g-right-col {
            grid-column: right-col;
        }
    }

}

/* Larger screens */
@media (min-width: 1400px) {
    .grid {
        grid-template-columns: [left-col] 1fr [center] 5fr [right-col] 1fr;
    }
}
